.hamburger {
    width: 30px;
    height: 22px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 2000;
}

.hamburger span {
    width: 100%;
    height: 4px;
    background: white;
    transition: 0.3s;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    opacity: 0;
    transition: 0.4s ease;
    z-index: 1500;
}

.menu-overlay ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8vmin;
    text-align: center;
}

.menu-overlay ul li a {
    color: white;
    font-size: 8vmin;
    text-decoration: none;
    font-family: "poppins";
}

.menu-overlay.active {
    transform: scale(1);
    opacity: 1;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}
.hamburger.active span:nth-child(2) {
    opacity: 0;
}
.hamburger.active span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

@media (max-width: 768px) {

    nav ul {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    nav {
        padding: 20px 30px;
        height: 12vmin;
    }

    #about {
        flex-direction: column;
        text-align: center;
    }

    #about-image {
        margin-top: 5vmin;
        height: 50vmin;
        width: 50vmin;
    }

    .project-container {
        flex-direction: column;
    }

    .contact-form {
        width: 80%;
    }
}
